<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="../css/table.css" rel="stylesheet" type="text/css">
</head>
<footer>
    <%- include('nav.html') %>
</footer>
<body>
    <% Object.keys(grouped).forEach((key) => { %>
        <table>
            <div class="date-title"><%= new Date(key).toISOString().slice(0, 10) %></div>
            <tr>
                <td>Name</td>
                <td>Contact</td>
                <td>Number</td>
            </tr>
            <% grouped[key].forEach((reg) => { %>
                <tr>
                    <td><%= reg.name %></td>
                    <td><%= reg.phone %></td>
                    <td><%= reg.people %></td>
                </tr>
            <% }) %>
        </table>
    <%})%>
</body>
<script src="../scripts/admin_table.js"></script>
</html>
